*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    background-size: cover;
    height: 100vh;
    width:220vh;
    background-image: url(123456.jpg);
}



.players{
    background-color: aliceblue;
    margin-top: 150px;
    border: 2px solid #143d59;
    max-height:  200px;
    max-width: 350px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius:25px;
    border-style:dotted;
    font-size: 28px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 16px 14px 20px #0000008c;
}

.players div{
    padding: 15px 35px;
    border-radius: 25px;
    border: 2px solid white;
}

.players div.active{
    background: #143d59;
    color: #f4b41a;

}

.gameboard {
    margin-top: 110px;
    display: grid;
    grid-template-columns: repeat(3,auto);

}

.cell{
    background-color: white;
    height: 100px;
    width: 100px;
    border: 2px solid black;;
    font-size: 90px;
    text-align: center;
    justify-content: center;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 25px;
}

.O{
    color: #551fbd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.X{
    color: limegreen;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.cell:nth-child(1),.cell:nth-child(2),.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(3),.cell:nth-child(6),.cell:nth-child(9){
    border-right: none;
}

.cell:nth-child(7),.cell:nth-child(8),.cell:nth-child(9){
    border-bottom: none;
}

.cell:nth-child(1),.cell:nth-child(4),.cell:nth-child(7){
    border-left: none;
}

.result{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
}
.result h1{
    
    font-size: 50px;
    border-radius: 30px;
    padding: 15px 25px;
    height: 3;
    border: 2px solid;
    background: #0000008c;
    color:darkturquoise;
}

.result button{
    font-size: 30px;
    background: red;
    color: aliceblue;
    border-radius: 1000px;
    border: 2px solid black;
    cursor: pointer;
    padding: 10px 25px;
    transition: all 0.3s ease;
}


.inactive{
    display: none;
}

.disabled{
pointer-events: none;
}